
.home-header {
    background: linear-gradient(100deg,#00b7ff, #00d9ff);
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-container {
    background: rgb(241, 236, 236)
}
.header-btn:hover {
    border-color: white;
}

.home-heading {
    padding: 0px;
    margin: 0px;
    font-size: 44px;
    margin-left: 30px;
    color: white;
    font-family: 'Kaushan Script', cursive;
}

.home-main {
    margin: auto;
    margin-top: -70px;
    width: 100vw;
    height: 100vh;    
    background: url('../../utils/default-img.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:  750px;
}

.description {
    font-size: 60px;
    color: rgb(13, 13, 14);
    text-align: center;
    margin: 0px;
   
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5px;
}

.btn-section {
    position: absolute;
    left: 20vw;
    top: 75vh;
}
.btn-section1 {
    position: absolute;
    left: 60vw;
    top: 75vh;
}

.btn{
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 20px 10px 20px;
    background-color: rgba(240, 203, 37, 0.746);
    color: white;
    font-size: 24px;
    border-color: #FFA500;
    border-radius: 8px;
    border-width: 4px;
    cursor: pointer;
}
.btn:hover {
    background: rgba(255,165,0, 0.2);
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}
#about-btn {
    padding: 5px 10px;
}
#about-btn:hover {
    border-color: white;
    background-color: white;
    color: black;
}
#about-btn:focus {
    box-shadow: none;
    background: white;
    border-color: white;
    color: black;
}